body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  flex: 1;
  display: flex;
  font-weight: bold;
  font-size: 26px;
  align-items: center;
  padding-left: 20px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  flex: 1;
}

.sidebar {
  background: royalblue;
  box-sizing: border-box;
  flex: 1;
  min-width: 300px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  padding: 10px;
}

.wrap {
  flex-wrap: wrap;
}

.content {
  flex: 10;
  display: flex;
  flex-direction: row;
}

.card-panel {
  display: flex;
  align-items: center;
  margin: 20px;
  gap: 20px;
  align-items: stretch;
  min-width: 700px;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: white;
}

li {
  padding: 0 0 10px 0;
}

ul {
  list-style-type: none;
  padding: 15px;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}